verify_installation.py
scanning/lms.iqra.edu.pk_20250818_213409/headers/nikto_lms.iqra.edu.pk.txt
scanning/lms.iqra.edu.pk_20250818_213409/javascript/linkfinder
scanning/lms.iqra.edu.pk_20250818_213409/ports/nmap_lms.iqra.edu.pk.txt
scanning/lms.iqra.edu.pk_20250818_213409/subdomains/assetfinder.txt
scanning/lms.iqra.edu.pk_20250818_213409/subdomains/subdomains.txt
scanning/lms.iqra.edu.pk_20250818_213409/subdomains/subfinder.txt
wordlists/apis.txt
wordlists/redirect_payloads.txt
tools/
scanning/lms.iqra.edu.pk_20250818_215237/api/kiterunner_lms.iqra.edu.pk.txt
scanning/lms.iqra.edu.pk_20250818_215237/cms/cmseek_lms.iqra.edu.pk.txt
scanning/lms.iqra.edu.pk_20250818_215237/javascript/linkfinder
scanning/lms.iqra.edu.pk_20250818_215237/urls/gau_lms.iqra.edu.pk.txt
scanning/lms.iqra.edu.pk_20250818_215237/urls/wayback_lms.iqra.edu.pk.txt
wordlists/lms.iqra.edu.pk-buckets.txt
scanning/lms.iqra.edu.pk_20250818_215237/waf/wafw00f_lms.iqra.edu.pk.txt
scanning/lms.iqra.edu.pk_20250818_220546/cms/cmseek_lms.iqra.edu.pk.txt
scanning/lms.iqra.edu.pk_20250818_220546/cms/cmseek_lms.iqra.edu.pk.json
demo.py
QUICKSTART.md
scanning/examination.iqraisb.edu.pk_20250818_221955/cms/cmseek_examination.iqraisb.edu.pk.json
scanning/examination.iqraisb.edu.pk_20250818_221955/cms/cmseek_examination.iqraisb.edu.pk.txt
scanning/examination.iqraisb.edu.pk_20250818_221955/cms/whatweb_examination.iqraisb.edu.pk.txt
demo_technology_detection.py
__pycache__/reconx.cpython-312.pyc
scanning/examination.iqraisb.edu.pk_20250818_222604/cms/cms_consolidated_report.html
scanning/examination.iqraisb.edu.pk_20250818_222604/cms/cmseek_examination.iqraisb.edu.pk.json
scanning/examination.iqraisb.edu.pk_20250818_222604/cms/cmseek_examination.iqraisb.edu.pk.txt
scanning/examination.iqraisb.edu.pk_20250818_222604/cms/custom_fingerprinting.json
scanning/examination.iqraisb.edu.pk_20250818_222604/cms/technology_detection.json
scanning/examination.iqraisb.edu.pk_20250818_222604/cms/whatweb_examination.iqraisb.edu.pk.txt
scanning/examination.iqraisb.edu.pk_20250818_222604/cms/drupal/droopescan_examination.iqraisb.edu.pk.txt
scanning/examination.iqraisb.edu.pk_20250818_222604/cms/drupal/manual_detection.txt
scanning/examination.iqraisb.edu.pk_20250818_222604/cms/joomla/joomscan_examination.iqraisb.edu.pk.txt
scanning/examination.iqraisb.edu.pk_20250818_222604/cms/joomla/manual_detection.txt
scanning/examination.iqraisb.edu.pk_20250818_222604/cms/wordpress/manual_detection.txt
scanning/examination.iqraisb.edu.pk_20250818_222604/cms/wordpress/wpscan_examination.iqraisb.edu.pk.txt
scanning/examination.iqraisb.edu.pk_20250818_222604/cms/wordpress/wpscan_vulns_examination.iqraisb.edu.pk.txt
